.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

footer {
  background-color: rgba(5, 184, 255, 0.89);
}

section {
  padding-top: 5rem;
}
